#gridd {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  position: relative;
  
}

#gridd1 {
  width: 50%; /* Set width to 50% */
  z-index: 3; /* Bring grid1 to the front */
  right: 0;
  position: absolute;
}

#gridd2,
#gridd3 {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 5rem); /* Adjust the width and margin values as needed */
}

#gridd2 {
  z-index: 2;
}

#gridd3 {
  z-index: 1;
  margin-left: 3rem; /* Add desired gap between grid2 and grid3 */
}
@media (max-width: 768px) {
  #gridd {
    grid-template-columns: 1fr;
<<<<<<< HEAD
=======
    background-color: #161616; /* Change to a single column layout */
>>>>>>> 86341f3 (New)
  }

  #gridd1 {
    grid-column: 1 / -1;
    width: 100%;
    position: relative;
    margin-top: 28rem; /* Add margin between the grids */
    margin-bottom: 6rem;
  }
  #gridd2{
    z-index: 2;
    top: 98%;
    margin-left: 1rem;
    width: 80%;
    margin-top: 4rem;
  }
  #gridd3{
    z-index: 1;
    top: 90%;
    margin-left: 3rem;
    width: 80%;
    margin-top: 4rem;
  }

}

#grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 170px;
  position: relative;
}

#grid1 {
  grid-column: 1 / 2;
  width: 50%; /* Set width to 50% */
  z-index: 3; /* Bring grid1 to the front */
}
#grid2,
#grid3 {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% - 5rem); /* Adjust the width and margin values as needed */
}
#grid2 {
  z-index: 2;
}
#grid3 {
  z-index: 1;
  margin-right: 60px; /* Add desired gap between grid2 and grid3 */
  height: 100%;
}

@media (max-width: 768px) {
  #grid {
    grid-template-columns: 1fr;
  }

  #grid1 {
    grid-column: 1 / -1;
<<<<<<< HEAD
    width: 100%; 
    padding-left: 1rem;
    padding-right: 1rem;
=======
    width: 100%; /* Take up full width in mobile mode */
>>>>>>> 86341f3 (New)
  }

  #grid2,
  #grid3 {
    position: absolute;
    right: 10%;
    margin-top: 4rem; /* Add desired gap between grid1 and grid2/grid3 */
    width: 100%;
  }

  #grid2 {
    z-index: 2;
<<<<<<< HEAD
    top: 98%;
=======
    top: 92%;
>>>>>>> 86341f3 (New)
    margin-left: 2rem;
    width: 80%;
    margin-top: 8rem;
  }

  #grid3 {
    z-index: 1;
    top: 90%;
    margin-right: 1rem;
    width: 80%; /* Add desired gap between grid2 and grid3 */
  }
}

